head,
body {
  background-color: #141c2f;
}
h1 {
  color: rgb(167, 9, 9);
  letter-spacing: 3px;
}
.light-theme {
  background-color: rgb(243, 243, 243);
}
.dark-theme {
  background-color: #141c2f;
}
header {
  display: flex;
  justify-content: space-between;
  margin-left: 25vw;
  margin-top: 5vh;
  padding: 0.5%;
  width: 54vw;
}
.icon-dark {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-block-end: -0.5em;
  margin-inline-end: 0%;
}
#change-theme-name {
  font-size: large;
  color: rgb(167, 9, 9);
}
@media (max-width: 900px) {
  main {
    width: 100%;
  }
  header {
    justify-content: space-evenly;
    width: 70vw;
    margin-left: 14vw;
    margin-bottom: 5vh;
  }
  .header-title {
    font-size: large;
    color: rgb(167, 9, 9);
  }
  .icon-dark {
    margin-inline-start: 60%;
  }
}
